.about-back{
    background-color:rgba(0,0,0, 0.2);
    
}

.About{
    text-align: center;
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    color: black;
    border-bottom: 15px solid;
    font-size: 8rem;
    font-family: 'Roboto', sans-serif;
}