*{
  margin: 0;
  padding: 0;
}

.flex-left{
  position: fixed;
  height: 100vh;
  width: 20vw;
  background: #e52d27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 60px;
}
.flex-right{
  margin-left: 20vw;
  width: 80vw;
}
