@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.menubar{
    position: relative;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    font-size: 3em;
    flex-direction: column;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    cursor: default;
}

.menucontainar{
    margin-top: 5vh;
}

.menubar p:hover{
    color: gray;
}
